* {
	box-sizing: border-box;
}
body{
    /* background-color: blue; */
    padding: 0;
    margin: 0;
    background:linear-gradient(to right, rgb(165, 196, 60), rgb(245, 10, 151));
}
body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	background: linear-gradient(to right, rgb(165, 196, 60), rgb(245, 10, 151));
	font-size: 1.4rem;
	font-family: "Caladea", serif;
}
.coolTitle {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 4px;
    color: rgb(62, 160, 38);
    font-family: 'Oswald','Helvetica',sans-serif;
}
input {
	box-shadow: none;
	/* width: 100%; */
	padding: 15px 18px;
	background: rgb(164, 228, 173);
	border: 2px solid #f2a899;
	font: 1.6rem "Caladea", serif;
	border-radius: 10px;
	margin-bottom: 10px;
    outline-color: rgba(#c26a9c, 0.4);
    height: 50px;
    width: 500px;
}

ul{
    list-style-type: none;
        padding: 0px;
          will-change: transform;
          font-family: 'Times New Roman', Times, serif;
          font-weight: 800;
          height: 24px;
          list-style-type: none;
          margin:10px;
          background-color: rgb(194, 180, 180);
          color: #270b1b;
          width: 170px;
          line-height: 1.2;
          padding-left: 10px;
          cursor: move;
          transition: all 200ms;
          user-select: none;
          margin:10px auto;
          position: relative;
}

li {
	cursor: pointer;
	transition: 0.2s;
	position: relative;
    user-select: none;
}